    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/MrTact/StrangeFateCore">View on GitHub</a>

          <h1 id="project_title">Strange Fate Core</h1>
          <h2 id="project_tagline">A project to convert the rules in the Strange Fate SRD to be Fate Core-compatible.</h2>

<!--             <section id="downloads">
              <a class="zip_download_link" href="https://github.com/MrTact/StrangeFateCore/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/MrTact/StrangeFateCore/tarball/master">Download this project as a tar.gz file</a>
            </section> -->
        </header>
    </div>